.footer1 {
  margin-top: 40px;
  border-top: 1px solid #eee;
}
.footer {
    background: #f4f5f6;
    border-top: 1px solid #eff0f1;
    width: 100%;
}
.footer-navigation {
    color: #b0b8c1;
    margin: 0 auto;
    padding-top: 1.35714em;
    padding-bottom: 1.14286em;
    text-align: center;
}
.copyright {
    white-space: nowrap;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
  margin-bottom: 1px;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.jumbotron h1
{
  text-align: center;
  font-size: 3em;
  font-weight: 400;
}

.jumbotron .leadspace-buttons {
  text-align: center;
}

.jumbotron .leadspace-buttons a p {
  font-family:'Helvetica Neue';
  margin: 15px;
}

.jumbotron .leadspace-buttons a p b {
  color: #fff;
  font-family: 'Lubalin';
  display: block;
  font-weight: normal;
  padding-top: .25em;
}

.jumbotron .leadspace-buttons a p b::after {
  content: ' »';
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}
#oauth {
  
  padding-top: 2px;
  background-color: #fff;
  text-transform: none;
}

#dotnet {
  
  padding-top: 2px;
  background-color: #fff;
  text-transform: none;
}

#webhooks {
  
  padding-top: 2px;
  background-color: #fff;
  text-transform: none;
}

#java {
  
  padding-top: 2px;
  background-color: #fff;
  text-transform: none;
}

#crud {
  
  padding-top: 2px;
  background-color: #fff;
  text-transform: none;
}

#nodejs {
  
  padding-top: 2px;
  background-color: #fff;
  text-transform: none;
}

#timetracking {
  
  padding-top: 2px;
  background-color: #fff;
  text-transform: none;
}

#php {
  
  padding-top: 2px;
  background-color: #fff;
  text-transform: none;
}

#python {
  
  padding-top: 2px;
  background-color: #fff;
  text-transform: none;
}

#other {
  
  padding-top: 2px;
  background-color: #fff;
  text-transform: none;
}

#others {
  
  padding-top: 2px;
  background-color: #fff;
  text-transform: none;
}

#oauth .card {
    margin: 5px;
    
    /*border-top: 4px solid #ccc;*/
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#webhooks .card {
    margin: 5px;
    
    /*border-top: 4px solid #ccc;*/
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#crud .card {
    margin: 5px;
    
    /*border-top: 4px solid #ccc;*/
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#timetracking .card {
    margin: 5px;
    
    /*border-top: 4px solid #ccc;*/
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#other .card {
    margin: 5px;
    
    /*border-top: 4px solid #ccc;*/
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#dotnet .card {
    margin: 5px;
    
    /*border-top: 4px solid #ccc;*/
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#java .card {
    margin: 5px;
    
    /*border-top: 4px solid #ccc;*/
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#nodejs .card {
    margin: 5px;
    
    /*border-top: 4px solid #ccc;*/
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#php .card {
    margin: 5px;
    
    /*border-top: 4px solid #ccc;*/
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#python .card {
    margin: 5px;
    
    /*border-top: 4px solid #ccc;*/
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#others .card {
    margin: 5px;
    
    /*border-top: 4px solid #ccc;*/
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#titlehead {display:inline-block;color: #337ab7;}
#githublink {
  display:inline-block;
  right: 150px;
  position: absolute;
  font-size: 15px;
}

.filter
{
  float: right;
  padding: 5px;
  width: 280px;
  border: 1px solid #e8e8e8;
}

.search
{
  float:right;
  font-family: 'Helvetica';
  padding-right: 0;
  margin-right: 0;
}

.sort
{
  float:left;
  font-family: 'Helvetica';
  padding-right: 0;
  margin-right: 0;
}

label.search span
{
  text-transform: uppercase;
  float: left;
  padding-top: 6px;
  padding-left: 19px;
  font-weight: 700;
  padding-right: .25em;
}

@media only screen and (min-width:321px) and (max-width:768px){
  #githublink
  {
    display:inline-block;
    right: 10px;
    font-size: 15px;
    position: initial;
    width: 100%
  }
  #titlehead {
    display:inline-block;
    color: #337ab7;
    width: 100%
  }
  .copyright {
    white-space: wrap;
  }
}

.pin {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.menu-navigation {
    margin-top: .5em;
    margin-bottom: 1.28571em;
    text-align: center;
}
.menu-navigation-list {
    margin: 0 auto;
}
.menu-navigation-list-item {
    font-size: 1.14286em;
    line-height: 1.5em;
    display: inline-block;
    margin-left: 16px;
    position: relative;
}

.pin img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  font-size: 0.75em;
  height: 55px;
  overflow: hidden;
  margin: 0;
}

.section
{
  padding-top: 2px;
  background-color: #fff;
  text-transform: none;
}

.section-title
{
  background-color: #333;
  margin: 3px;
}

.section-title .title
{
  font-family: Helvetica;
  letter-spacing: 2px;
  font-size: 16px;
  margin-left:20px;
  line-height:40px;
  vertical-align: bottom;
  color:#fff
}

.separator
{
  clear: both;
}

.gap
{
  height: 10px;
}

#repos h4
{
  font-size: 16px;
  
  color: #1b1f30;
  margin-top: 0;
  padding: 3px;
  padding-top: 10px;
}

#repos h5
{
  padding-left: 5px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
  padding-top: 5px;
  padding-bottom: 5px;
  }
}

@media (min-width: 768px) {
  .col-sm-5
  {
    width: 48%;
  }
}

@media (min-width: 992px) {
  .col-md-4
  {
    width: 32%;
  }
}


@media (min-width: 1200px) {
  .col-lg-3
  {
    width: 24%
  }
  
  #updated .col-lg-3
  {
    width: 24.25%;
  }
  .col-lg-2
  {
    width: 25%
  }
}

@media (min-width: 1200px) {
  .col-lg-4
  
  #updated .col-lg-4
  {
    width: 24.25%;
  }
  .col-lg-2
  {
    width: 25%
  }
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 1100px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

#columns:hover .pin:not(:hover) {
  opacity: 0.4;
}